<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Instagram HD DP Viewer
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="default">IG HD DP Viewer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
        [(ngModel)]="searchInput">
      </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="getProfilePicture(searchInput)">View DP</ion-button>
      </ion-col>
      <ion-col>
        <ion-button disabled =true expand="block" (click)="downloadProfilePicture(searchInput)">Download DP</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <div id="container">
    <img *ngIf=!dpNotFound src={{imgUrl}}/>
    <p *ngIf=dpNotFound>{{dpStatusText}}</p>
  </div>
</ion-content>
